@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;       
}

.span{
    font-family: "miama", cursive;
    font-weight: 400;
    font-size: 7.875rem;
}
*{
    /* width: 1440px; */
    margin: 0 auto;
}
section{
    margin-top: 100px;
}

body{
    background-color: rgb(0, 0, 0);   
}    


header{
    max-width: 100%;
    /* height: 715px; */
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(
        to bottom,
        rgb(17, 17, 17),         
        rgba(119, 119, 119, 0.116)
    )
}    


h2{
    font-family: "Inter";
    font-weight: 800;
    font-size: 3rem;
    color: #E6533C;
    font-style: italic;
    margin-right: 200px; 
}
.ri-menu-fill{
  display: none;
}
.container{
    margin-top: 57px;  
    /* border: 1px solid white;  */
    
}
.flex{
    display: flex;  
}
.header_logo{
    display: flex;
}
.lists{
    list-style: none;
    display: flex;
    
    align-items: center;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px; 
    margin-bottom: 28px; 
}
.list{
    font-family: "Inter";
    font-size: 1.2rem;
    color: #ffff;
    text-decoration: none;  
}
.home{
    padding: 9px 26px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    background-color: #E6533C;
    border-radius: 46px;
}    



#get_body_container{
    width: 520px;
    /* margin-top: 96px; */

}
.Get_body{
    color: white;
    font-family: "inter";
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 5.3rem;
}
.body_description{
    color: rgba(255, 255, 255, 0.5);
    font-family: "inter";
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;  
    margin-top: 28px;
    line-height: 1.5rem;
}    
.button_margin{
    margin-top: 28px;
}
#button{
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 224px;
    color: white;
    padding: 16px 30px;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.button{
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 224px;
    color: white;
    padding: 16px 30px;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    background-color: #E6533C;
    cursor: pointer;
}    
.container_image{
    /* Images 2 */
   /* position: absolute; */
}
.hero_right{
    position: relative;
    /* margin-right: 0rem; */
}
.right_top{
    position: absolute;
    top: 25%;
    left: 60%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 204px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 23px;
}
.vedio{
    font-family: "inter";
    font-size: 2.1rem;
    font-weight: 900;
    color: white;
    
}
.All_dess{
    color: rgba(255, 255, 255, 0.5);
    font-family: "inter";
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.5px;  
    /* margin-top: 28px; */
}
.right_btn{
    position: absolute;
    top: 70%;
    right: 70%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 204px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 23px; 
}
.red_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}
.vedio_num{
    font-family: "inter";
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}
.right_button_flex{
  display: flex;
}
/* habit section started*/
.habit_section{
    /* position: relative; */
    /* margin: 0 auto; */
    /* border: 1px solid aqua; */
}
.habit_title{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
.habit_description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
}
.habit_images_container{
    /* position: absolute; */
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid wheat; */
    margin-left: 190px;
    margin-right: 190px;
}

.image{
    height: 180px;
    width: 180px;
    box-sizing: border-box;
    border-radius: 50%;
    border:4px solid rgba(255, 255, 255, 0.1);  
    

}
.image_title{
    font-weight: 600;
    font-size: 1.125rem;
    color: rgb(255, 255, 255);
    /* text-align: center; */
}
.image_description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    /* text-align: center; */
}
.habit_images_container > div > h4{
    margin-top: 30px;
}
.habit_images_container > div > p{
    margin-top: 10px;
    margin-bottom: 10px;
}

 /* run section started */
 .run_section_background{
    /* position: static; */
    background-color: rgba(34, 34, 34, 1);
    width: 70%;
    /* height: 371px; */
    border-radius: 18px;
    /* margin-left: 190px; */
    /* margin-right: 190px; */

 }
 .run_section_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
 }
 .run_section_title{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    /* text-align: center; */
 }
 .run_section_description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    /* text-align: center; */
    margin-top: 14px;

 }
 .run_section_button{
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 224px;
    color: white;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: transparent;
    border: 1px solid #E6533C;
    background-color: #E6533C;
    cursor: pointer;
    margin-top: 34px;
    /* margin-bottom: 20px; */
    

 }
 #run_section_image{
    /* position: absolute; */
    /* margin-left: 440px; */
    height: 312px;
    width: 366px;
    box-sizing: border-box;
    border-radius: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
    /* margin-left: 50px; */

 }
 .run_section_background > div{
    /* margin: 0; */
    /* margin-right: 400px; */
 }

 /* BMI section started */
 .BMI_title{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    /* margin-right: 190px; */
 }
 .BMI_title_margin{
    margin-left: 190px;
 }
 .BMI_title_description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    /* text-align: center; */
    margin-top: 14px;
    margin-bottom: 88px;
    /* margin-right: 190px; */
    

 }
 .BMI_section_background{
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    /* height: 371px; */
    /* border-radius: 18px; */

 }
 .BMI_section_chart > h5{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 52px;
 }
 .BMI_section_chart{
    /* border: 1px solid white; */
    margin-top: 49px;
 }
 .BMI_table_font{
    font-size: 1rem;
    font-weight: 400;
    color: white;
 }
tr, td{
    padding-left: 20px;
}
tr > td{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.329);
}
table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
  } 
table {
    width: 310px;
    height: 212px;
    border-collapse: collapse;   
  }

  .calculate_section{
    width: 577px;
  }
  .calculate_section > h5{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    /* text-align: center; */
    margin-top: 49px;
  }
  .calculate_section > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    margin-top: 14px;
    

  }
  .card_font_text{
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.4);
    /* margin-right: 10px; */
    padding: 12px 40px 12px 20px;
  }
  .card{
     width: 282px;
     height: 48px;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     
  }
  .last_card{
    width: 569px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);

  }
  #first_card_gap{
    margin-top: 34px;
  }
  .second_card_gap{
    margin-top: 12px;
  }
  .BMI_section_button{
    font-size: 1.2rem;
    font-weight: 500;
    /* max-width: 224px; */
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: transparent;
    border: none;
    background-color: #E6533C;
    cursor: pointer;
    margin-top: 34px;
    margin-bottom: 52px;
}  

/* team section started */
.trainer_team_section > h4{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
.trainer_team_section > p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 58px;

}
.trainer_images_background{
    width: 80%;
    
    /* height: 500px; */
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    
    /* border-radius: 18px; */
    /* color: white; */

}











.image-container {
    position: relative;
    display: inline-block;
    /* border: 1px solid white; */
    border-radius: 18px;
    
  }
  
  .image-container img {
    /* display: block; */
    
    width: 350px;
    height: 276px;
    border-radius: 18px;
    border-radius: 18px;
    background: rgba(0,0,0,0.6);
    opacity: 0.7;

    
    
    
  }
.overlay-text {
    position: absolute;
    top: 85%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    /* background-color: #f3efef;  */
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    /* text-align: center; */

}
.overlay-text h6{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 900;
    /* line-height: 120%; */
    
}
.overlay-text p{
    color: rgba(255, 255, 255, 0.5);

    font-size: 0.875rem;
    font-weight: 400;


}
.trainer_images_container{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    row-gap: 40px;
    /* border: 1px solid white; */
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Schedules_section */

.schedules_image{
  width: 100%;
  /* background: url(../img/schedule_bg.jpg); */
  background-size: cover;
  position: relative;
  overflow: hidden;
  
}
 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(41, 45, 54, 0.85);
   
 }

/* =====================================
=========================================
                hero_section
=========================================
=========================================*/

#hero{
  /* background-color: rgba(43, 43, 204, 0.568); */
  background-image:linear-gradient(        
    0deg,
    rgba(34, 34, 34, 0.678) 100.5%,
    rgba(66, 67, 68, 0) 100%
    ), url(../img/schedule_bg.jpg);
  max-width: 100%;
  /* height: auto; */
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  /* background-blend-mode: darken; */
  padding-bottom: 5rem;
}
.hero_title{
  font-weight: 800;
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 80px;
}
.hero_description{
  font-weight: 400;
  font-size: 1rem;
  color: rgb(236, 223, 223);
  text-align: center;
  /* width: 50%; */
  padding-top: 20px;
  letter-spacing: 0.05;
  line-height: 1.5rem;
}
.hero_full_container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  /* border: 1px solid gold; */
}

.hero_containers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.hero_container {
  border: 1px solid white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 1rem;
  margin-left: 1rem;
  margin: 2rem 2rem;
  padding: 2rem;

  background: rgba(122, 95, 95, 0);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  /* Smooth transition for background and text color */
}
.hero_container h3,
.hero_container h4,
.hero_container p {
    text-align: left;
    /* padding-left: 1rem; */
    /* padding-top: 2rem; */
    /* padding-bottom: 1rem; */
    color: rgb(252, 255, 255);
    transition: color 0.1s ease;
    /* Smooth transition for text color */
}
.hero_container h3 {
  font-weight: 500;
  font-size: 1.9rem;
  opacity: 0.7;
}
.hero_container h4 {
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1.25rem;
}
.hero_container p {
  font-weight: 200;
  font-size: 1rem;
  padding-top: 1.25rem;
}
/* ===================
      Hover effect 
=========================      */

.hero_container:hover {
  background-color: rgb(255, 255, 255);
  transition: all .7s linear;
  /* padding-right: 1.5rem ; */
  margin-left: 3rem;
}
.hero_container:hover h3,
.hero_container:hover h4,
.hero_container:hover p {
  color: rgb(5, 4, 5);
  /* padding-right: 2.5rem ; */
  /* font-size: 1.5rem; */
  
  /* Changes the text color to black on hover */
}

/* ==========================================
                Purches section              
============================================== */


.pricing_section{
  /* border: 1px solid slateblue; */


}
.pricing_section h4{
  color: white;
  font-size: 3rem;
  text-align: center;


}
.pricing_section p{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;

}
.pricing_btn{
  margin-top: 1rem;
  margin-left: -1rem;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 154px;
  color: white;
  padding: 16px 15px 16px 15px;
  border-radius: 42px;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  background-color: #E6533C;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;


}
.pricing_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px 30px; */
  width: 70%;
  gap: 50px;
  padding-top: 5rem;
  /* border: 1px solid white; */
  padding-left: 10rem;
  padding-right: 10rem;
  
}
.pricing_card{
  /* background-color: rgba(34, 34, 34, 0.678);  */
  background-color: rgba(39, 7, 7, 0.055); 
  border: 5px solid rgba(56, 48, 48, 0.795);
  box-shadow: 10px 15px 5px  rgba(56, 48, 48, 0.295);
  padding: 2rem 1rem;
  border-radius: 5px;
  width: 100%;
  
  
  
}
.pricing_card h5{
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
.pricing_monthly{
  font-style: "inter";
  font-size: 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid  rgba(255, 255, 255, 0.103);
}
.pricing_card div{
  padding-top: 2rem ;
}
.pricing_card p{
  color: white;
  padding-bottom: 0.9rem;

}
.card_span{
  color: #e6533ccb;
  font-style: "inter";
  font-size: 2.5rem;
  font-weight: 800;


}











/* ===================================
        footer section started
====================================== */
.footer_section_background{
position: static;
width: 100%;
/* height: 489px; */
/* margin: 88px 0px; */
background: rgba(255, 255, 255, 0.1);
padding-top: 66px;
padding-bottom: 35px;
/* margin-bottom: 10px; */
}
.footer_section_background p{
    color: rgba(255, 255, 255, 0.5);

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 20px;

}
.footer_section_get_started{
    width: 50%;
    justify-content: space-between;
    /* border: 1px solid white; */

}
.footer_section_get_started h5{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 39px;
    
    /* text-align: left; */
}
.footer_flex{
    display: flex;
}
.footer_section_get_started li{
    list-style: none;
    margin-top: 20px;
}
.footer_section_get_started a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 120%;
    /* text-align: left; */
    text-decoration: none;
    
}
.footer_last_margine{
    width: 80%;
    margin-top: 79px;
}

.footer_copyright{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
/* margin-top: 20px; */
border-top: 2px solid rgba(255, 255, 255, 0.1);
;
}
.footer_copyright h5{
    margin-top: 20px;

}
.footer_last_flex{
    display: flex;
}




















  
  
  .explore_header{
    /* border: 1px solid white; */
    align-items: center;
  }
  .explore_header h3  {
    text-align: center;
    justify-content: center;
    color: #ffffff7e;
    gap: 2rem;
    font-size: 3rem;
    
    transition: 0.5s;
    
  }
  /* .explore__nav span {
    padding: 0 6px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  } */
  
  .explore__nav span:hover {
    /* color: #f9ac54; */
    /* border-color: #f9ae55; */
  }
  
  .explore__grid {
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
  .explore__card {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1.5rem;
    /* background-color:  #1f2125; */
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
  }
  .explore__card span {
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: white;
    background-color: #d79447;
    border-radius: 5px;
  }
  .explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
  }
  
  .explore__card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #d1d5db;
  }
  .explore__card a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
  }
  .explore__card i{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  .explore_join_now{
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    background-color: #4e40303d;
    padding: 8px 5px;
  }
  .ri-arrow-right-line{
    color: rgb(209, 188, 96);
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(255, 255, 255); 
  }
  .ri-arrow-left-line{
    color: rgb(209, 188, 96);
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    color: rgb(255, 255, 255); 
  }
  .ri-arrow-right-line:hover{
    box-shadow: 
    2px 2px 4px rgba(117, 117, 117, 0.8), 
    -2px -2px 4px rgba(117, 117, 117, 0.8);
    color: #b87928;
  }
  .ri-arrow-left-line:hover{
    box-shadow: 
    2px 2px 4px rgba(117, 117, 117, 0.8), 
    -2px -2px 4px rgba(117, 117, 117, 0.8);
    color: #277555;
  }
  .explore__card a:hover {
    color: #f9ac54;
    
  }
  .explore__card i:hover {
    color: #f9ac54;
    border-color: #f9ac54 ;
  }
  .explore_join_now:hover{
    background-color: #ff97213d;
    cursor: pointer;
    border: 1px solid rgba(71, 45, 10, 0.541);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }  
  .explore__card:hover {
    background-color: #35373b;
    border-color:  #5f5447;
    /* box-shadow: 
    2px 2px 4px rgba(117, 117, 117, 0.8), 
    -2px -2px 4px rgba(117, 117, 117, 0.8); */
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe; 
  }
  .explore_header h3:hover{
    color: #f8f3ed;
            text-shadow: 
                /* 0 0 1px #e4ddd4,  */
                /* 0 0 2px #998e80,  */
                /* 0 0 9px #dbc2a1, */
                /* 0 0 20px #e4be8e, */
                0 0 5px #d4b995;
  }  





  /* ==================================
            Responsive 992
  =======================================*/


@media screen and (min-width: 576px) and (max-width: 992px){
    *{
        margin: 0 auto;
    }
    .flex{
        flex-direction: column;
    }
    .right_button_flex{
      display: flex;
    }
    .habit_images_container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
    }
    .run_section_background{
        /* Frame 27 */
        /* position: absolute; */
        width: 684px;
        /* height: 400px; */
        left: 30px;
        top: 2253px;
    }
    .image-container img {
        /* display: block; */
        width: 199px;
        height: 276px;
        border-radius: 18px;
        
        
      }

.run_section_flex{
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: space-between; */
   
}
.run_section_title{
    width: 263px;
   font-weight: 900;
   font-size: 2.25rem;
   color: rgb(255, 255, 255);
   /* text-align: center; */
   margin-left: 10px;
}
.run_section_description{
    width: 263px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 0.87rem;
   font-weight: 400;
   letter-spacing: 0.3px;
   /* text-align: center; */
   margin-top: 14px;
   margin-left: 10px;

}
#run_section_image{
   /* position: absolute; */
   /* margin-left: 440px; */
   height: 256px;
   width: 319px;
   box-sizing: border-box;
   border-radius: 18px;
   /* margin-bottom: 20px; */
   /* margin-top: 20px; */
   /* padding-left: 400px; */
   margin-right: 20px;
   object-fit: cover;
   
  }
  .footer_flex{
    flex-direction: column;
    /* border: 1px solid white; */
  }
  .footer_last_flex{
    display: flex;
  }

  .footer_section_get_started{
    /* border: 1px solid white; */
    display: flex;
    margin-left: px;
    margin-top: 102px;
  }
  .explore__grid{
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(2, 1fr);

  }
  .schedules_container_grid{
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid rgb(201, 38, 38);
    
  }
  .class_schedules_border{
      /* padding: 50px 30px; */
      /* display: flex; */
      width: 20%;
      height: 20%;
      /* margin-bottom: 30px 0px; */

  }
  .hero_containers{
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing_cards{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    
    /* text-align: left; */
  }
  .pricing_card h5{
    margin-left: 3rem;
  }
  .pricing_card p{
    font-size: 1.1rem;
    margin-left: 3rem;
  }
  
}  

@media screen and (max-width: 576px) {
    *{
        /* width: 393px; */
        margin: 0 auto;
    }
    .flex{
        flex-direction: column;

    }
    .right_button_flex{
      display: flex;
    }
    .hamburg{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgb(255, 255, 254);
    }
    .ri-menu-fill{
      color: white;
      font-size: 3rem;
    }

    
    .hidden-element {
        display: none;
      }  
    .habit_images_container{
        grid-template-columns: repeat(1, 1.5fr);  
    }    
    .habit_images_container > div > h4{
        margin-top: 20px;
    }
    .habit_images_container > div > p{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .k{
        margin-left: 20px;
    }
    
    .run_section_flex{
        flex-direction: column;
    }
    .run_section_background{
        /* Frame 27 */
        /* position: absolute; */
        width: 400px;
        /* height: 400px; */
        /* left: 30px; */
        /* top: 2253px; */
    }
    .card{
        width: 40%;
    }
    .last_card{
        width: 81%;
    }
    .image-container img {
        /* display: block; */
        width: 313px;
        height: 276px;
        border-radius: 18px;
        
        
      }
      .trainer_images_container{
        grid-template-columns: repeat(1, 1fr);
      }
      .BMI_title_margin{
        margin-left: 20px;
      }
      .run_section_button{
        width: 100%;
        padding: 16px 50px 16px 50px;
      }
       .footer_flex{
        flex-direction: column;
        /* border: 1px solid white; */
      }
      .footer_section_get_started{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 102px;
      }
      .footer_section_get_started ul{
        margin-top: 20px;

      }
      .footer_last_flex{
        flex-direction: column;
      }
      .explore__grid{
        margin-left: 50px;
        margin-right: 50px;
        grid-template-columns: repeat(1, 1fr);

      }
    
    .hero_containers{
      grid-template-columns: repeat(1, 1fr);
    }
    .pricing_cards{
      grid-template-columns: repeat(1, 1fr);
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;

      
      /* text-align: left; */
    }
      

}  
